// ----------------------------------------------------------------
// header
// ----------------------------------------------------------------
.header {
  .navbar-item,
  .navbar-link {
    height: $header-height;
    display: flex;
    align-items: center;
  }

  &,
  a,
  .label {
    color: $navbar-item-color;
  }

  &-main {
    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        &:nth-child(1),
        &:nth-child(3) {
          width: 50px;
        }

        &:nth-child(2) {
          flex: 1;
        }
      }

      &-arrow {
        padding-left: 5px;

        .icon {
          font-size: 18px;
        }
      }

      &-sitelogo {
        text-align: center;

        img {
          width: 150px;
          height: 39.6px;
          object-fit: contain;
        }
      }

      &-title {
        text-align: center;
        font-size: 16px;
      }

      &-search {
        width: 30px;

        .icon {
          font-size: 20px;
        }
      }
    }
  }

  &-sub,
  &-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 103vh;
    z-index: 999;
    background: $navbar-background-color;
    overflow: auto;
    transition: transform linear 0.1s;
    padding: 20px;
    padding-bottom: 200px;

    &,
    a {
      color: $navbar-item-color;
    }

    a {
      display: inline-block;
      position: relative;
    }

    &-close {
      margin: -10px;
      margin-bottom: 23px;
    }

    &-sitelogo {
      text-align: center;
      margin-bottom: 30px;

      img {
        width: 250px;
        //height: 66px;
        object-fit: contain;
      }
    }
  }

  &-sub {
    &:not(.is-active) {
      transform: translateX(-110vw);
    }

    &-menu {
      font-size: 16px;

      li {
        & + li {
          margin-top: 25px;
        }
      }

      &-sub {
        margin-top: 30px;
        margin-left: 30px;

        a {
          color: #d0d0d0;
          padding-left: 35px;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 1px;
            background: #d0d0d0;
          }
        }
      }
    }
  }

  &-search {
    &:not(.is-active) {
      transform: translateX(110vw);
    }

    &-field {
      .label {
        font-size: 16px;
      }
    }
  }
}
