// ----------------------------------------------------------------
// media list
// ----------------------------------------------------------------
@mixin responsive-box($height) {
    position: relative;
    &:before {
        content: '';
        display: block;
        padding-top: $height;
    }
}

.media-list {
    $parent: &;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;

    & > div {
        @include responsive-box(100%);

        margin-right: 1px;
        margin-top: 1px;
        display: flex;
        align-items: center;

        width: calc((100% / 3) - 1px);

        @media (min-width: 768px) {
            width: calc(25% - 1px);
        }

        @media (min-width: 1200px) {
            width: calc(20% - 1px);
        }
    }

    &-modal,
    &-item {
        position: relative;
        height: 100%;
        width: 100%;
        border: 1px solid #bbb;
        background-color: rgba(0,0,0,0.86);

        .checkbox {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 4;
        }

        &-figure {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;

            video {
                display: block;
            }
            &-play {
                position: absolute;
                bottom: 0;
                right: 0;
                //background: rgba(255,255,255,0.5);
                padding: 3px;
                border-radius: 5px;

                .tag {
                    border: 1px solid #555;
                }
            }
        }
    }

    &-item.is-select {
        //&::before {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    width: 100%;
        //    height: 100%;
        //    background: rgba(#0000, 0.3);
        //    z-index: 3;
        //}
    }
}
