// ----------------------------------------------------------------
// modal-dialog
// ----------------------------------------------------------------

.modal-dialog {
  text-align: center;
  background: $white;
  margin: 0 15px;
  padding: 65px 5px;
}
