// ----------------------------------------------------------------
// sns-post-reservation
// ----------------------------------------------------------------
.sns-post-reservation {
  &-list {
    &-item {
      display: flex;
      align-items: flex-start;

      &:hover {
        color: inherit !important;
        border: none !important;
        box-shadow: none !important;
      }

      &-figure {
        position: relative;
        flex-basis: 100px;
        margin-left: 15px;
      }

      &-data {
        flex: 1;
      }

      &-sns {
        display: flex;
        margin-bottom: 10px;

        li + li {
          margin-left: 10px;
        }
      }

      &-text {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 10px;
        @include ellipsis($num: 4, $lineHeight: 1.3);
      }

      &-date {
        font-size: 10px;
        line-height: 1.5;
        color: #666666;
      }
    }
  }
}
