// ----------------------------------------------------------------
// sns-post-new
// ----------------------------------------------------------------

.sns-post-new {
    $parent: &;

    &-figure {
        margin-left: -#{$box-padding};
        margin-right: -#{$box-padding};
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        margin-bottom: 25px;

        ul {
            display: flex;
            padding: 0 20px;
        }

        li {
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            background-color: #aaa;
            position: relative;
            margin-top: 11px;

            .delete.is-outline {
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: white;
                border-color: red;

                &:after, &:before {
                    background-color: red;
                }
            }

            & + li {
                margin-left: 20px;
            }

            video {
                display: block;
            }

            .image img {
                width: 100%;
                height: 180px;
                object-fit: contain;
            }
        }
    }
}
