// ----------------------------------------------------------------
// sns-post-preview
// ----------------------------------------------------------------

.sns-post-preview {
  $parent: &;

  .media {
    align-items: center;

    .media-right {
      align-items: center;
      display: flex;
      align-items: flex-end;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-name {
    line-height: 1.3;
    overflow: hidden;

    small {
      display: block;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &-figure {
    li video {
      display: block;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-hashtags {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    display: flex;
    flex-wrap: wrap;

    li + li {
      margin-left: 1em;
    }
  }

  // modifier
  &.is-twitter,
  &.is-facebook {
    #{$parent}-figure {
      ul {
        display: flex;
        flex-wrap: wrap;

        & > li {
          width: 50%;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &.is-instagram,
  &.is-line {
    #{$parent} {
      &-name {
        small {
          display: none;
        }
      }

      &-figure {
        margin-left: -#{$box-padding};
        margin-right: -#{$box-padding};

        ul {
          display: flex;
          flex-wrap: wrap;
          & > li {
            //width: 50%;
            display: flex;
            align-items: center;

            &:not(:first-child) {
              //display: none;
            }
          }
        }
      }
    }
  }
}
