// ----------------------------------------------------------------
// tabs
// * override bulma
// ----------------------------------------------------------------
.tabs {
  background: #ffffff;
  padding: 0 13px;
  border-bottom: solid 1px #e2e8ed;
  box-shadow: 0px 1px 0 #fff;
  margin-bottom: 0 !important;
  font-size: 16px;
}
