// ----------------------------------------------------------------
// text
// ----------------------------------------------------------------
// num
// -----------------------------------
.c-text-num {
  color: $primary;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;

  &:not(:first-child) {
    margin-left: 20px;
  }

  strong {
    font-size: 20px;
    display: inline-block;
    margin-right: 2px;
    font-weight: bold;
  }
}

// sales
// -----------------------------------
.c-text-sales {
  color: $primary;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  position: relative;
  line-height: 1.125;

  strong {
    font-size: 24px;
    color: $third;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;

    span {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
