// ----------------------------------------------------------------
// username
// ----------------------------------------------------------------

.username {
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    position: relative;
    margin-right: 15px;

    .image {
      &:nth-child(2) {
        position: absolute;
        bottom: -6px;
        right: -6px;
      }
    }
  }
}
