/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.editorconfig
.eslintrc.js
.prettierrc
.styleci.yml
jsconfig.json
stylelint.config.js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/_nuxt/
/public/index.html
/public/tmp/
/.nuxt/
/resources/nuxt/pages/new-post-confirm_back.vue
/resources/nuxt/components/SnsPostPreviewListItem_back.vue
/public/avatars/
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/tests/
/public/images/furoshiki-logo-old.png
/public/images/furoshiki-logo.psd
/public/images/sitelogo-01.psd
/public/images/sitelogo-01-old.png
/resources/nuxt/components/MediaListItem_backup.vue
/public/spa.html
/spa.html
/composer.lock
/app/ffmpeg/
/public/images/sitelogo-01.png
/resources/nuxt/pages/index.vue_
/docker/containers/mysql/db
/docker/containers/mysql/log