.medias {
    .thumbnail {
        width: 100px;
        height: 74px;
        position: relative;
        cursor: pointer;

        a {
            width: 100px;
            height: 100%;
            position: relative;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .video_play {
            position: absolute;
            width: 26px;
            height: 26px;
            top: calc(50% - 13px);
            left: calc(50% - 13px);
        }
    }

    .td-btns {
        width: 80px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
}

.media-edit {
    .image {
        width: 100%;
        max-height: 600px;
        object-fit: contain;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .video {
        max-height: 600px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.modal-image {
    max-width: 90%;
    max-height: 90vh;

    .modal-content {
        height: 90vh;
        background: transparent;
        box-shadow: none;
        border: 0px;

        .modal-body {
            padding: 0px;
            height: 90vh;
            background: transparent;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .video {
                width: 100%;
                height: 100%;
            }
        }
    }
}