.medias .thumbnail {
  width: 100px;
  height: 74px;
  position: relative;
  cursor: pointer;
}

.medias .thumbnail a {
  width: 100px;
  height: 100%;
  position: relative;
}

.medias .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.medias .thumbnail .video_play {
  position: absolute;
  width: 26px;
  height: 26px;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
}

.medias .td-btns {
  width: 80px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.media-edit .image {
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  margin-bottom: 20px;
}

.media-edit .video {
  max-height: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal-image {
  max-width: 90%;
  max-height: 90vh;
}

.modal-image .modal-content {
  height: 90vh;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px;
}

.modal-image .modal-content .modal-body {
  padding: 0px;
  height: 90vh;
  background: transparent;
}

.modal-image .modal-content .modal-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-image .modal-content .modal-body .video {
  width: 100%;
  height: 100%;
}

