// ----------------------------------------------------------------
// Bulma over ride
// ----------------------------------------------------------------

/* ----------------------------------------------------------------
base
-------------------------------------------------------------------*/

html {
  overflow-x: hidden;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

a {

  &,
  &::before,
  &::after,
  img {
    transition: all linear 0.05s;
  }

  &:hover {
    img {
      opacity: 0.8;
    }
  }
}

img {
  vertical-align: middle;
}

.main-content {
  padding-top: $header-height;
  padding-bottom: 100px;
}
