/* ----------------------------------------------------------------
Fonts import
-------------------------------------------------------------------*/

// Noto sans(regular / medium)
// -----------------------------------
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,600,700&display=swap');
