// ----------------------------------------------------------------
// block
// * override bulma
// ----------------------------------------------------------------
.block {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &.is-large {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}
